<div class="container">
  <div class="card animate__animated animate__fadeIn mt-5 mb-5">
    <div class="row g-0">
      <div class="col-12 col-md-5 col-lg-6">
        @if (character) {
        <img
          [src]="character.image"
          class="w-100 rounded-start rounded-top rounded-bottom"
          [alt]="character.name"
        />
        }@else {
        <div
          id="spinner"
          class="d-flex justify-content-center"
        >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        }
      </div>
      <div class="col-12 col-md-7 col-lg-6">
        <div class="card-body">
          <h1
            class="card-title text-center"
            [ngClass]="{ 'placeholder-glow': !character }"
          >
            @if (character) {
              {{ character.name }}
            }@else {
            <span class="placeholder col-8"></span>
            }
          </h1>
        </div>
        <div>
          <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item">
              <button
                class="nav-link"
                (click)="getInformation()"
                [ngClass]="{ 'active': information }"
              >
                Information
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                (click)="getLocation()"
                [ngClass]="{ 'active': location }"
              >
                Location
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                (click)="getEpisodes()"
                [ngClass]="{ 'active': episodes }"
              >
                Episodes
              </button>
            </li>
          </ul>
          <div class="card-body">
            @if (information) {
            <ul class="list-group list-group-flush">
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !character }">
                ID:
                @if (characterInfo) {
                  {{characterInfo.id}}
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                Status:
                @if (characterInfo) {

                  {{ characterInfo.status }}
                }@else {
                  <span class="placeholder col-8"></span>
                }

              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                Species:
                @if (characterInfo) {
                  {{ characterInfo.species }}
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                Subspecies:
                @if (characterInfo) {
                  {{ characterInfo.type }}
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                Gender:
                @if (characterInfo) {
                   {{ characterInfo.gender }}
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                API URL:
                @if (characterInfo) {
                  <a target="_blank" [href]="characterInfo.url">{{
                    characterInfo.name
                  }}</a>
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
              <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !characterInfo }">
                Database created:
                @if (characterInfo) {
                  {{ characterInfo.created | date }}
                }@else {
                  <span class="placeholder col-8"></span>
                }
              </li>
            </ul>
            }
            @if (location) {
              <ul class="list-group list-group-flush">
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  ID:
                  @if (locationInfo) {
                    {{locationInfo.id}}
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  Name:
                  @if (locationInfo) {
                    {{locationInfo.name}}
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  Type:
                  @if (locationInfo) {
                    {{locationInfo.type}}
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  Dimension:
                  @if (locationInfo) {
                    {{locationInfo.dimension}}
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  API URL:
                  @if (locationInfo) {
                    <a target="_blank" [href]="locationInfo.url">{{
                      locationInfo.name
                    }}</a>
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
                <li class="list-group-item" [ngClass]="{ 'placeholder-glow': !locationInfo }">
                  Database created:
                  @if (locationInfo) {
                    {{locationInfo.created|date}}
                  }@else {
                    <span class="placeholder col-8"></span>
                  }
                </li>
              </ul>
            }
            @if (episodes) {
              <ul class="list-group list-group-flush">
                <div class="table-responsive" id="tab-container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Air date</th>
                        <th>API URL</th>
                        <th>Database created</th>
                      </tr>
                    </thead>
                    <tbody>
                      @if (episodesInfo) {
                        @for (episode of episodesInfo; track $index) {
                          <tr>
                            <td>
                              {{episode.id}}
                            </td>
                            <td>
                              {{episode.name}}
                            </td>
                            <td>
                              {{episode.episode}}
                            </td>
                            <td>
                              {{episode.air_date}}
                            </td>
                            <td>
                              <a target="_blank" [href]="episode.url">{{
                                episode.name
                              }}</a>
                            </td>
                            <td>
                              {{episode.created | date}}
                            </td>
                          </tr>
                        }
                      }@else {
                        <tr>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                          <td class='placeholder-glow'>
                            <span class="placeholder col-8"></span>
                          </td>
                        </tr>

                      }
                    </tbody>
                  </table>
                </div>
              </ul>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="float">
  <button (click)="newRandom()" class="floatlink animate__animated animate__fadeIn" pTooltip="Random">
      <i class="fa-solid fa-shuffle"></i>
  </button>
</span>
