<!-- If the character is fetched, show the data, on other case show loading-->
<div class="container">
  <h1 class="h1 text-center text-light my-3">Characters</h1>
  @if (!error) {
    <!--Show nav options for pagination-->
    <app-pagination (selectedPageEvent)="changePage($event)" [pages]="currentPage?.info?.pages!" [numberPage]="numberPage"></app-pagination>
    <!--Show the cards for the results-->
    <div class="row row-cols-1 row-cols-sm-2
      row-cols-md-3 row-cols-lg-4 row-cols-xl-5
      my-3"
      >
      @if(loading){
        @for (data of loadingArray; track $index) {
          <div class="col my-2">
            <app-card></app-card>
          </div>
        }
      }@else {
        @for (character of currentPage?.results; track $index) {
          <div class="col my-2">
            <app-card [character]="character"></app-card>
          </div>
        }
      }
    </div>
    <!--Show nav options for pagination-->
    <app-pagination (selectedPageEvent)="changePage($event)" [pages]="currentPage?.info?.pages!" [numberPage]="numberPage"></app-pagination>
  }@else {
    <div class="d-flex justify-content-center align-content-center mt-5">
      <h2 id="noResults">No results</h2>
    </div>
  }
</div>

