h2{
  color: white;
}

.float{
  z-index: 1000;
	position:fixed;
	bottom:25px;
	right:25px;
}

.floatlink{
  transition: 0.4s;
  background-color: #c4e343;
	color:black;
  border: 1px solid black;
  width:65px;
	height:65px;
  font-size: 28px;
  display: flex;
	border-radius:50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.floatlink:hover{
  transform: scale(1.2);
}

.floatlink:active{
  transform: scale(1);
}

.border-top{
  border-top: 1px solid gray;
  width: 100%;
}

.border-bottom{
  border-bottom: 1px solid gray;
  width: 100%;
}

.dropdown-item{
  color: black;
}

.dropdown-item:hover{
  color: black;
  background-color: white !important;
}

.dropdown-item:active{
  color: black !important;
}

.label{
  text-transform: capitalize;
}
